.accordionContainer {
	border: none none solid none;
}

.accordionQuestionContainer {
	background-color: #20242c !important;
}

.accordionAnswerContainer {
	background-color: #292e38 !important;
}

.tierListReference a {
	text-decoration: none;
}

.tierListReference a:hover {
	text-decoration: underline;
}

