.runeAvatar {
	float: left;
	margin-right: 10px;
}

.runeImage {
	width: 100%;
}

.runeReasonContainer {
	width: 50%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.runeName {
	display: inline-block;
	margin-top: 15px;
}
