.header {
	background-color: #171717 !important;
}

.headerLink {
	color: rgb(255, 255, 255, 87%);
	text-decoration: none;
}

.headerLink:hover {
	color: rgb(255, 255, 255, 60%);
}

.headerLogo {
	width: 100px;
}
