.loadMoreContainer {
	padding: 50px 0 0 0;
}

.loadMoreButton {
	background-color: #000000 !important;
	text-transform: none !important;
	min-width: 140px !important;
}

.loadMoreButton:hover {
	background-color: rgb(0, 0, 0, 60%) !important;
}
