.aboutTextContainer {
	padding: 33px 20px;
}

.aboutTextContainer p {
	margin: 34px 0 0 0;
}

.aboutTextContainer a {
	color: #13aaff;
}

.textDivider {
	background-color: rgb(255, 255, 255, 30%) !important;
	height: 2px;
	border: none;
}
