.filterContainer {
	padding: 5px 10px 10px 10px;
	margin-top: 10px;
	border-bottom: 1px solid rgb(255, 255, 255, 60%);
}

.rolesListContainer {
	margin-top: 20px;
}

.rolesList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.rolesList li {
	display: inline-block;
	margin-right: 12px;
	font-size: 16px;
	color: rgb(255, 255, 255, 87%);
}

.rolesList li:hover {
	cursor: pointer;
	text-decoration: underline;
}

.searchForChampionContainer {
	margin-top: 10px;
}

.searchForChampionInput {
	width: 100%;
	padding: 10px;
	background: rgb(41, 46, 56, 30%);
	border: 1px solid rgb(255, 255, 255, 30%);
	color: rgb(255, 255, 255, 30%);
}

.searchForChampionInput:focus {
	border: 1px solid rgb(255, 255, 255, 60%);
	outline: none;
}
