.filterContainer {
	padding: 5px 10px 10px 10px;
	margin-top: 10px;
	border-bottom: 2px solid #969696;
}

.rolesListContainer {
	margin-top: 15px;
}

.rolesList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.rolesList li {
	display: inline-block;
	margin-right: 12px;
	font-size: 16px;
	color: #ebebeb;
}

.rolesList li:hover {
	cursor: pointer;
	text-decoration: underline;
}

.searchForChampionContainer {
	margin-top: 10px;
}

.searchForChampionInput {
	width: 100%;
	padding: 6px;
}
