.viewMoreBuildsContainer {
	padding: 40px;
}

.viewMoreBuildsButton {
	background-color: #388e3c !important;
	color: rgba(240, 240, 240, 0.87) !important;
	text-transform: none !important;
}

.viewMoreBuildsButton:hover {
	background-color: #2e7d32 !important;
}

.viewMoreBuildsLink {
	text-decoration: none;
}
