.BuildChipContainer {
	background-color: #20242c;
	border-radius: 4px;
	margin: 4px 6px 0 0 !important;
	display: inline-flex;
	box-sizing: border-box;
}

.buildChipValue {
	font-size: 14px;
	padding: 3px 10px;
}

.chipValue {
	color: #13aaff;
}
