.playerBuildHeaderContainer {
	margin: 0 0 20px 0 !important;
}

.championImageContainer {
	display: inline-block;
	position: relative;
}

.championImage {
	float: left;
}

.buildChampionContainer {
	background-color: rgb(0, 0, 0, 60%);
	bottom: 0;
	padding: 4px 5px;
	position: absolute;
	right: 0;
}

.buildRoleImage {
	margin-right: 10px;
	width: 20px;
}

.buildChampionText {
	font-size: 13px;
	letter-spacing: -0.9px;
	line-height: 15px;
}

.buildTitleText {
	font-size: 22px;
	margin: 3px 0;
}

.usernameText {
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	margin: 3px 0;
}

.buildChipsContainer {
	margin-top: 6px;
	width: 100%;
}

.buildInformationContainer {
	margin-left: 10px;
	margin-top: 8px;
}

.laneImage {
	margin-top: 7px;
	position: absolute;
	width: 20px;
}

.patchText {
	color: #5893d4;
	text-align: right;
	margin-top: 0;
}

.buildDateSubmitted {
	text-align: right;
}

.miscellaneousDataContainer {
	padding-right: 10px;
}
