.callToActionContainer {
	background-color: #afafaf;
	padding: 20px 0;
}

.callToActionText {
	font-weight: bolder;
	font-size: 26px;
	margin: 0;
	padding: 0;
}

.filterContainer {
	/* background-color: #cccccc; */
	padding: 5px 0 10px 0;
	margin-top: 10px;
	border-bottom: 2px solid #cccccc;
}

.rolesList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.rolesList li {
	display: inline-block;
	margin-right: 6px;
	font-size: 16px;
}

.rolesList li:hover {
	cursor: pointer;
	text-decoration: underline;
}

.heroesContainer {
	padding: 10px 0;
}

.heroesContainer::after {
	content: '';
	width: 110px;
}
