.callToActionContainer {
	background-color: #afafaf;
	padding: 20px 0;
}

.callToActionText {
	font-weight: bolder;
	font-size: 26px;
	margin: 0;
	padding: 0;
}

.heroesContainer {
	padding: 10px 0;
}

.heroesContainer::after {
	content: '';
	width: 110px;
}

.loadingText {
	color: #00a3fe;
}
