.buildBoxContainer {
	background-color: #121212;
	border: 1px solid #121212;
	color: rgb(255, 255, 255, 80%) !important;
	margin: 0 !important;
	padding: 0 15px;
}

.buildBoxContainer:hover {
	background-color: #181818;
	border: 1px solid #20242c;
}

.championImage {
	width: 2rem;
}

.tableCell {
	min-width: 20px;
}

.divider {
	background-color: #20242c !important;
}
