.championsContainer {
	padding: 10px 10px;
	/* background-color: pink; */
}

.championImageContainer {
	margin: 15px 15px 0 0;
}

.championLink {
	text-decoration: none;
}

.championImage {
	width: 82px;
}

.championName {
	color: #4a4a4a;
	font-size: 14px;
	margin: 0;
	width: 82px;
}
