.header {
	background-color: #171717 !important;
}

.headerItem {
	color: rgb(255, 255, 255, 87%);
	text-decoration: none;
}

.headerItem:hover {
	color: rgb(255, 255, 255, 60%);
	cursor: pointer;
}

.headerLogo {
	width: 100px;
}

.createBuildButton {
	text-transform: none !important;
}
