.footerContainer {
	padding: 80px 0;
}

.footerLinksContainer {
	padding-bottom: 20px;
}

.footerLink {
	color: rgb(255, 255, 255, 60%);
	text-decoration: none;
	display: inline-block;
	margin-right: 8px;
}

.footerLink:hover {
	text-decoration: underline;
}

.footerDescription {
	color: rgb(255, 255, 255, 60%);
	margin: 0;
}
