.noBuildsContainer {
	background-color: rgb(41, 46, 56, 30%);
	padding: 40px;
	margin: 20px 0;
	color: rgb(255, 255, 255, 87%);
}

.championImage {
	display: block;
	margin: 10px auto 40px auto;
}

.createBuildLink {
	color: #326cac;
	text-decoration: none;
}

.createBuildLink:hover {
	text-decoration: underline;
}
