.privacyPolicyContainer h1,
.privacyPolicyContainer h2,
.privacyPolicyContainer h3,
.privacyPolicyContainer h4 {
	color: rgb(255, 255, 255, 87%);
}

.privacyPolicyContainer a {
	color: #13aaff;
}

.policyTextContainer {
	padding: 32px 20px;
}
