.chipContainer {
	margin-top: 5px;
}

.roleChip {
	margin: 5px 4px 0 0;
}

.chipTier {
	background-color: #326cac !important;
	color: rgb(0, 0, 0, 87%) !important;
}

.patchText {
	position: relative;
	top: 5px;
	left: 8px;
}

.patchText a {
	text-decoration: none;
	color: rgb(255, 255, 255, 30%);
	margin-left: 5px;
}

.helpIcon {
	color: rgb(255, 255, 255, 30%);
	width: 18px !important;
	position: relative;
	top: 6px;
}

.patchText a:hover {
	text-decoration: underline;
}
