.itemAvatar {
	float: left;
	margin-right: 10px;
}

.itemImage {
	width: 100%;
}

.itemReasonContainer {
	width: 50%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.itemName {
	color: #ffffff;
	display: inline-block;
	margin-top: 15px;
}

.itemReason {
	color: rgb(255, 255, 255, 87%);
}
