.playerBuildHeaderContainer {
	margin: 20px 0 !important;
}

.championImageContainer {
	display: inline-block;
	position: relative;
}

.championImage {
	width: 100%;
	float: left;
}

.buildByText {
	margin: 0;
	font-size: 16px;
}

.buildChampionContainer {
	background-color: rgb(0, 0, 0, 60%);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4px 5px;
}

.buildRoleImage {
	width: 20px;
	margin-right: 10px;
}

.buildChampionText {
	color: rgb(255, 255, 255, 87%);
	font-size: 13px;
	letter-spacing: -0.9px;
	line-height: 15px;
}

.buildTitleText {
	color: #00a3fe;
	font-weight: bold;
	font-size: 38px;
}

.usernameText {
	color: rgb(255, 255, 255, 87%);
	font-weight: normal;
	display: inline-block;
	font-size: 16px;
}

.usernameHighlight {
	color: rgb(255, 255, 255, 60%);
}

.buildInformationContainer {
	margin-left: 10px;
	color: rgb(255, 255, 255, 87%);
}

.buildInformationTitle {
	color: rgb(255, 255, 255, 60%);
}

.laneImage {
	width: 20px;
	position: absolute;
	margin-top: 7px;
}

.buildInformationText {
	position: relative;
	top: 7px;
	margin-right: 10px;
	font-size: 14px;
}

.patchText {
	text-decoration: none;
	color: #5893d4;
	margin-left: 5px;
}
