.playerBuildHeaderContainer {
	margin: 20px 0 !important;
}

.championImageContainer {
	display: inline-block;
	position: relative;
}

.championImage {
	float: left;
	width: 100%;
}

.buildChampionContainer {
	background-color: rgb(0, 0, 0, 60%);
	bottom: 0;
	padding: 4px 5px;
	position: absolute;
	right: 0;
}

.buildRoleImage {
	margin-right: 10px;
	width: 20px;
}

.buildChampionText {
	color: rgb(255, 255, 255, 87%);
	font-size: 13px;
	letter-spacing: -0.9px;
	line-height: 15px;
}

.buildTitleText {
	color: rgb(255, 255, 255, 60%);
	font-weight: bold;
	font-size: 32px;
}

.usernameText {
	color: rgb(255, 255, 255, 87%);
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
}

.buildChipsContainer {
	margin-top: 10px;
}

.buildInformationContainer {
	color: rgb(255, 255, 255, 87%);
	margin-left: 10px;
	margin-top: 5px;
}

.buildInformationTitle {
	color: rgb(255, 255, 255, 60%);
}

.laneImage {
	margin-top: 7px;
	position: absolute;
	width: 20px;
}

.buildInformationText {
	font-size: 14px;
	margin-right: 10px;
	position: relative;
	top: 7px;
}

.patchText {
	color: #5893d4;
	text-align: right;
}

.buildDateSubmitted {
	color: rgb(255, 255, 255, 60%);
	text-align: right;
}
