.runeAvatar {
	float: left;
	margin-right: 10px;
}

.runeImage {
	width: 100%;
}

.runeReasonContainer {
	width: 50%;
	word-wrap: break-word;
}

.runeName {
	color: #ffffff;
	display: inline-block;
	margin-top: 15px;
}

.runeReason {
	color: rgb(255, 255, 255, 87%);
}
