.championCounterLink {
	text-decoration: none;
}

.championCounterContainer {
	margin: 10px 0;
}

.championCounterLink:hover .championCounterContainer {
	text-decoration: underline solid rgb(255, 255, 255, 87%);
}

.championCounterName {
	margin-left: 10px;
	margin-top: 9px;
	text-decoration: none;
}

.goToBuildText {
	text-decoration: none;
}

.goToBuildArrow {
	margin: 0 0 0 6px;
	position: relative;
	top: 6px;
	width: 15px !important;
}
