.championsContainer {
	padding: 10px 10px;
}

.championImageContainer {
	margin: 15px 15px 0 0;
}

.championLink {
	text-decoration: none;
}

.championImage {
	width: 82px;
}

.championName {
	color: #aba79e;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-shadow: 0 2px 4px rgb(0 0 0 / 70%);
	margin: 0;
	width: 82px;
}
